doctype html
html
  head
    title #{title}
    link(rel="stylesheet" href="/css/style.css")
  body
    header
      nav
        a(href="/") Home
        a(href="/sports") Sports

    block content

    script(src="/js/app.js")
