extends ../layout/main

block content
  .container.py-4
    h3.mb-3 Kelola Tim
    if !teams || teams.length === 0
      .alert.alert-info Belum ada tim untuk cabang yang kamu pegang.
    else
      .table-responsive
        table.table.table-hover.align-middle
          thead
            tr
              th Tim
              th Cabang
              th Kota
              th.text-end Aksi
          tbody
            each t in teams
              tr
                td.fw-semibold= t.name
                td= t.sport_name || '-'
                td= t.city || '-'
                td.text-end
                  a.btn.btn-sm.btn-outline-primary(href=`/subadmin/teams/${t.id}/members`) Kelola Anggota
